# Gradle files
.gradle/
build/
/app/build/

# Android Studio / IntelliJ files
.idea/
*.iml
.navigation/
captures/
.externalNativeBuild/
.cxx/
local.properties

# Logs
*.log

# Keystores and private signing assets
*.jks
*.keystore
google-services.json

# OS files
.DS_Store
Thumbs.db
